
h1{
    text-align: center;
}

#company{
    text-align: center;
    display: inline-block;
}

#visualization{
    margin: auto;
    width: 50%;
    border-width: 4px;
    border-style: double;
}

#header{
    width: 100%;
    background-color: red;
    text-align: center;
    padding-bottom: 2em;
    /*height: 1em;*/
}

#timeLine{
    width: 100%;
    background-color: red;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 1em;
    /*border-width: 4px;
    border-style: double;*/
}

#middle{
    display:flex;
}

#documentReader{
    width: 70%;
    color: black;
    text-align: center;
    /*border-width: 4px;
    border-style: double;*/
    padding: 2%;
    aspect-ratio: 8.5/11;
    overflow-y: scroll;
    display: inline-block;
    
}

.card{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
    width: 90%;
    text-decoration: none;
    margin-top: 5px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventDescNew{
    color: darkslategray;
    padding: 5px;
}

.card-title{
    margin-bottom: 5px;
}

.card-text{
    margin-bottom: 10px;
}

.date-text{
    padding-top: 0px;
    padding-bottom: 0px;
}

#eventsBar{
    width: 30%;
    border-width: 2px;
    border-style: solid none solid solid;
    border-color: black;
    background-color: lightgrey;
    display: inline-block;
}

.event{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: lightblue;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: gray;
    border-width: 4px;
    border-style: outset;
}

.event:hover{
    width: 85%;
}

.eventImg{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 4px;*/
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.eventDesc{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    font-size: 10pt;
    padding-left: 2px;
    padding-right: 2px;
}

.eventLink:link{
    text-decoration: none;
}

#disclaimer{
    text-align: center;
}

#versionSelect{
    float: right;
    width: 25%;
    text-align: center;
}

#eventHover{
    background: #fff;
    border: 1px solid #000;
    position: absolute;
    display: none;
}