
h1{
    text-align: center;
}

#visualization{
    margin: auto;
    width: 50%;
    border-width: 4px;
    border-style: double;
}

#header, #timeLine{
    width: 100%;
    background-color: red;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 1em;
    /*border-width: 4px;
    border-style: double;*/
}

#middle{
    display:flex;
}

#documentReader{
    width: 70%;
    color: black;
    text-align: center;
    /*border-width: 4px;
    border-style: double;*/
    padding: 2%;
    aspect-ratio: 8.5/11;
    overflow: scroll;
    display: inline-block;
    
}

#eventsBar{
    width: 30%;
    /*border-width: 4px;
    border-style: double;*/
    background-color: blue;
    display: inline-block;    
}

.event{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: lightblue;
    margin-top: 5%;
    margin-bottom: 5%;
}

.eventImg{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
}

.eventDesc{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#disclaimer{
    text-align: center;
}